PORT=3000
POSTGRES_DB="datingdb"
POSTGRES_USER="admin"
POSTGRES_PASSWORD="admin"
POSTGRES_PORT=5439
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
JWT_SECRET="supersecret"
FACEBOOK_APP_ID="teri"
FACEBOOK_APP_SECRET="maa"
GOOGLE_CLIENT_ID="ka"
GOOGLE_CLIENT_SECRET="bhola"
EMAIL_HOST="pan"
EMAIL_PORT="teri"
EMAIL_USER="maa"
EMAIL_PASS="kii"